@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size:99px;
  text-align:center;
  height:100%;
  width:100%;
  background:#ddd;
}

div {
  position:absolute;
}



















